.calculator-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-base {
    height: 60%;
    width: 20%;
    background: linear-gradient(#ff0080, #bc00f5);
    border: 2px solid rgb(0, 0, 0);
}
