.calculator-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator-base {
    height: 80vh;
    width: 25vw;
    background-color: rgb(209, 209, 209);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}